[run]
source = .
omit = 
    */migrations/*coverage run -m pytest

    */tests/*
    */admin.py
    */apps.py
    */wsgi.py
    */settings.py
    */__init__.py
    backend/asgi.py
    backend/wsgi.py
